html, body {
  height: 100%;
}

.wrap {
  height: 100%;
  text-align: center;
  font-weight: bold;
}

@font-face { font-family:'m_Ben_Krush';src: url('fonts/m_Ben_Krush.ttf');}

.header {
  font-size: 1.6em;
  font-weight: bold;
/*  text-decoration: none;*/
}

.header2 {
  font-size: 2.4em;
  font-weight: bold;
  white-space: pre;
/*  text-decoration: none;*/
}

.header3 {
  font-size: 1.4em;
  font-weight: bold;
/*  text-decoration: none;*/
}

div.centered {
margin-top:10px;
  text-align: center;

}

.inline {
  display: inline-block;
  margin-top: 10px;
}

h1.centered {
  text-align: center;
}

ol.centered {
  display: table;
  margin: 0 auto;
}

div#indexphoto {
    padding-top: 10px;
    background-color: white;
    box-shadow: 0px 0px 20px 0 rgba(0, 0, 0, 0.3);
}

div.info, div.info2, div.info3 {
  margin: 0 auto;
  margin-top: 2%;
  text-align: center;
  border: 4px double;
  padding: 10px;
  color: white;
  background-color: black;
  box-shadow: -10px 10px 8px 0 rgba(0, 0, 0, 0.3);
}

.mark {
  font-size: 1.4em;
}

@media (max-width: 400px) {
  div.info {
    width: 100%;
    padding: 0px;
    height: 100%;
  }
}

@media (min-width: 401px) and (max-width: 800px) {
  div.info {
    width: 80%;
  }
}

@media (min-width: 801px) and (max-width: 1400px) {
  div.info {
    width: 60%;
  }
}

@media (min-width: 1401px) {
  div.info {
    width: 50%;
  }
}

div.info > p {
  display: inline-block;
  vertical-align: middle;
  line-height: normal; 
}

div.info > div > p > a, div.info2 > p > a, .yellow {
  color: #eed032;
  text-decoration: none;
}

.yellow2 {
  color: #eed032;
}

.red {
  color: red;
}

div.info > div > p > a:hover, div.info2 > p > a:hover {
  color: #eed000;
  text-decoration: underline;
}

div#title > h1 {
  font-family: m_Ben_Krush;
  font-size: 4.5em;
  font-weight: 100;
  margin: 0px;
}

li > a {
  text-decoration: none;
}

li > a:hover {
  text-decoration: underline;
}

.item{
  padding: 30px 0px;
  margin: 10px;
}

.owl-item img {
  display: block;
  height: auto;
  max-width: 100%;
}

.owl-item img:hover {
  box-shadow: 5px 5px 8px 0 rgba(0, 0, 0, 0.5);
}

div.desc {
    padding: 15px;
    text-align: center;
}

.fancybox-title-over-wrap {
    width: 100%;
    padding: 0;
}

.fancybox-title-over-wrap > div {
    padding: 10px;
}

.row {
  width: 100%;
  box-sizing: border-box;
  height: 500px;
}

@media (max-width: 1200px) {
  .col-sm-12 {
    width: 100%;
    float: left;
  }
}

@media (min-width: 1201px) {
  .col-etc-6 {
    width: 50%;
    float: left;
  }
}

#p1 {
  margin-top: 60px;
}

.info2 {
  width: 560px;
  height: 400px;
}

.info3 {
  width: 560px;
  height: 700px;
}

.leftcentered {
  text-align: left;
}

.annotate {
  margin-right: 10%;
  margin-left: 10%;
  font-size: 1.3em;
  font-weight: bold;
}
