* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	overflow: hidden;
	/*	    
	background-image: -ms-radial-gradient(center, ellipse farthest-corner, #FFFFFF 0%, #CCCCCC 100%);
	background-image: -moz-radial-gradient(center, ellipse farthest-corner, #FFFFFF 0%, #CCCCCC 100%);
	background-image: -o-radial-gradient(center, ellipse farthest-corner, #FFFFFF 0%, #CCCCCC 100%);
	background-image: -webkit-gradient(radial, center center, 0, center center, 286, color-stop(0, #FFFFFF), color-stop(100, #CCCCCC));
	background-image: -webkit-radial-gradient(center, ellipse farthest-corner, #FFFFFF 0%, #CCCCCC 100%);*/
	background-image: radial-gradient(ellipse farthest-corner at center, #FFFFFF 0%, #CCCCCC 100%);
    background-position: center;
    background-attachment: fixed;
}

h1, h2, h3, h4 {
	font-family: 'Derby', arial;
	font-weight: normal;

}

h1 {
	position: relative;
	text-align: center;
	margin-top: 3%;
	font-size: 3em;
	text-shadow: 4px 4px 4px #aaa;
	z-index: 10;
}

h2 {
	font-size: 1.7em;
}

.gate {
	background: url("../img/vorota.png") no-repeat center;
	position: absolute;
	width: 100%;
	height: 80%;
}

.lock {
	position: absolute;
    left: 0;
    right: 0;
    top: 45px;
    bottom: 0;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    /*background-color: red;
    border: 1px solid red;*/
    border-radius: 45px;
	width: 90px;
	height: 90px;
}

.lock:active {
    top: 1px;
}

.lock:before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-position:-90px -90px;
    background-repeat:no-repeat;
    background-image: -webkit-gradient(
        linear, 0 0, 100% 100%,
        color-stop(0% , rgba(255, 255, 255, 0.3)),
        color-stop(37%, rgba(255, 255, 255, 0.3)),
        color-stop(45%, rgba(255, 255, 255, 0.8)),
        color-stop(50%, rgba(255, 255, 255, 0.0))
    );
    background-image: -moz-linear-gradient(
        0 0,
        rgba(255, 255, 255, 0.3) 0%,
        rgba(255, 255, 255, 0.3) 37%,
        rgba(255, 255, 255, 0.8) 45%,
        rgba(255, 255, 255, 0.0) 50%
    );
    -moz-background-size:250% 250%, 100% 100%;
      -o-background-size:250% 250%;
         background-size:250% 250%;
    
    -webkit-transition: background-position 0s ease;
       -moz-transition: background-position 0s ease;
            transition: background-position 0s ease;
}

.lock:hover:before,
.lock:focus:before {
    background-position:0 0;
    -webkit-transition-duration: 0.5s;
       -moz-transition-duration: 0.5s;
            transition-duration: 0.5s;
}

.lock:active:before {
    opacity: 0;
}

.lock:hover {
	cursor: pointer;
}

@-webkit-keyframes shining {
	from {opacity: 1;}
	to {opacity: 0;}
}

@keyframes shining {
	from {opacity: 1;}
	to {opacity: 0;}
}

#sky {
	background-color: black;
	position: absolute;
	width: 100%;
	height: 100%;
	top: -100%;
	opacity: 0.8;
	filter: alpha(opacity=80);
}

.skyline {
  position: relative;
  height: 10%;
  width: 100%;
}

div.star {
  height: 100%;
  position: relative;
}

img.star {
	background-color: black;
	height: auto;
}

div.menu {
	position: absolute;
	top: 100%;
	left: 0%;
	right: 0%;
	width: 80%;
	height: 80%;
	margin-left: 10%;
	margin-right: 10%;
	overflow-y: auto;
	overflow-x: hidden;
	/*border: 1px solid red;*/
}

.flip-container {
	max-width: 400px;
	margin-left: 10px;
	margin-right: 10px;
	margin-top: 80px;
	/*margin-bottom: 200px;*/
}

.flip-container.flip .flipper {
	transform: rotateY(180deg);
}

.flip-container, .front, .back {
	position: relative;
}

/* flip speed goes here */
.flipper {
	transition: 2s;
	transform-style: preserve-3d;
}

/* hide back of pane during swap */
.front, .back {
	background: white;
	border: 1px solid black;
	/*top: 0;
	left: 0;*/
	width: 400px;
	height: 200px;
	backface-visibility: hidden;
}

/* front pane, placed above back */
.front {
	position: absolute;
	transform: rotateY(0deg);
	cursor: pointer;
}

/* back, initially hidden pane */
.back {
	position: relative;
	transform: rotateY(180deg) scale(1.5);
} 

#id1-front {
	background: #fff url(../img/m1.png) no-repeat 0 50%;
}

.m1 {
	position: absolute;
	bottom: 75px;
	right: 40px;
}

#id2-front {
     background: #fff url(../img/m2.png) no-repeat 0 50%;
}
.m2 {
    position: absolute;
    bottom: 75px;
    right: 30%;
}

#id3-front {
     background: #fff url(../img/m3.png) no-repeat 20% 95%;
}
.m3 {
    position: absolute;
    top: 60px;
    left: 25%;
}

#id4-front {
    background: #fff url(../img/m4.png) no-repeat 0 0%;
}

.m4 {
    position: absolute;
    top: 50px;
    left: 30%;
}

#id5-front {
     background: #fff url(../img/m5.png) no-repeat 50% 100%;
}

.m5 {
    position: absolute;
    top: 50px;
    left: 25%;
}
#id6-front {
     background:#fff url(../img/m6.png) no-repeat 0 95%;
}
.m6 {
    position: absolute;
    top: 40px;
    right: 25%;
    left: 29%;
    text-align: center;
}

#id4-back h3, #id5-back h3, #id6-back h3 {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}